* {
    margin: 0;
}
body {
    font-family: 'Exo 2', sans-serif;
}

.glavni:nth-of-type(1) {
    margin: 40px auto;
    background-color: coral  ;
    width: 650px;
    height: 250px;
    /* overflow: visible;  Ovo je difoltna vrednost*/
    /* overflow:hidden; Gubi se tekst koji izlazi iz okvira visine kontejnera*/
    /* overflow: scroll; dodaje opciju skrol i za visinu i za sirinu*/
    /* overflow: auto; dodaje opciju scrol gde je potrebno */
    overflow-y: scroll ; /* */

}
.glavni:nth-of-type(2) {
    margin: 40px auto;
    background-color: rgb(134, 25, 132)  ;
    width: 650px;
    height: 250px;
    /* overflow: visible;  Ovo je difoltna vrednost*/
    /* overflow:hidden; Gubi se tekst koji izlazi iz okvira visine kontejnera*/
    /* overflow: scroll; dodaje opciju skrol i za visinu i za sirinu*/
    /* overflow: auto; dodaje opciju scrol gde je potrebno */
    overflow-y: scroll ; /* */
    /* sakriva sadrzaj na stranici*/
    display: none;    /* ovaj metod brise odredjeni sadrzaj*/
    visibility: hidden ; /* ovaj metod rezervise prostor na stranici medjutim nevidljiv je sadrzaj */
    
} 

.glavni:nth-of-type(3) {
    margin: 40px auto;
    background-color: rgb(49, 35, 109)  ;
    width: 650px;
    height: 250px;
    /* overflow: visible;  Ovo je difoltna vrednost*/
    /* overflow:hidden; Gubi se tekst koji izlazi iz okvira visine kontejnera*/
    /* overflow: scroll; dodaje opciju skrol i za visinu i za sirinu*/
    /* overflow: auto; dodaje opciju scrol gde je potrebno */
    overflow-y: scroll ; /* */

}


#icon {
    color: brown;
    background-color: aqua;
    margin: 5px 7px 5px 10px ;
}